body{
    text-align: center;
    font-family: 'quicksand';
    background: black;
    color: white;
}


a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: gray;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: gray;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: gray;
  background-color: transparent;
  text-decoration: underline;
}

img {
  width: 100%;
  height: auto;
}